/* CSS project */

.mg-form {
  margin-bottom: 20px;
}

.mg-btn {
  margin-top: 20px;
}

.error {
  font-size: 80%;
  font-style: italic;
  color: red;
  margin-left: 15px;
  font-weight: 600;
}
input[type="text"] {
  white-space: nowrap;
}
